.linkSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    gap: 24px;
}

.linkSection a{
    display: flex;
        width: 100%;
        padding: 24px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--color-gray-200);
        border: 1px solid var(--color-gray-200);
        border-radius: 8px;
        transition: var(--transition);
}

.linkSection a:hover {
        background: var(--color-gray-300);
        border: 1px solid var(--color-gray-300);    
    /* Shadow/xs */
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.linkSection a:focus{
        background: var(--color-gray-200);
        border: 1px solid var(--color-gray-400);
        /* Shadow/xs focused 4px primary-100 */
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--color-primary-100);
}
.linkSection a:click {
        background: var(--color-gray-200);
        border: 1px solid var(--color-gray-400);
        /* Shadow/xs focused 4px primary-100 */
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--color-primary-100);
}
.linkSection a:disabled {
        background: var(--color-gray-25);
        border: 1px solid var(--color-gray-100);
        /* Shadow/xs */
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.profileicons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding: 24px 0;
    margin: 24px 0 64px;
}
/* media queries (phone) */
@media screen and (max-width: 600px) {
    .linkSection {
            padding: 0;
        }
    .profileicons {
            margin: 24px 0 32px;
        }
}
