.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0 56px;
    /* gap: 24px; */
    /* isolation: isolate; */
}
#slack{
    display: none;
}
#profile__img {
    width: 88px;
    height: 88px;
    border-radius: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    transition: var(--transition);
}
.user:hover #profile__img {
    display: none;
}
.user:hover #profile_img_hover{
    display: block;
}
#profile__img:focus {
    border: 5.5px solid var(--color-primary-100);
}
#profile_img_hover{
    width: 88px;
        height: 88px;
        border-radius: 275px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        display: none;
}
#twitter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#share{
    position: absolute;
    right: 208px;
    top: 44px;
}
#menu{
    position: absolute;
    right: 56px;
    top: 44px;
    display: none;
}
.dash a{
    color: var(--color-gray-400);
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    border: 1px dashed var(--color-gray-300);
    position: absolute;
    background: var(--color-bg);
    transition: var(--transition);
}
.dash a:hover{
    background: var(--color-gray-50);
}
.dash a:focus {
    /* Focus ring/4px gray-100 */
    box-shadow: 0px 0px 0px 4px var(--color-gray-100);
}
.dash a:click {
    /* Focus ring/4px gray-100 */
    box-shadow: 0px 0px 0px 4px var(--color-gray-100);
}
.dash a:disabled{
        background: var(--color-gray-50);
        border: 1px dashed var(--color-gray-200);
}
#cursor {
    display: none;
    position: absolute;
    top: 30px;
    right: -40px;
}
#Tooltip {
    display: none;
    position: absolute;
    right: 0px;
    top: 6px;
}
.dash:hover #cursor {
    display: block;
}
.dash:hover #Tooltip {
    display: block;
}


@media screen and (max-width: 600px) {
    .profileSection {
            padding: 64px 0 32px;
    }
    #share{
        display: none;
    }
    #menu {
        display: block;
    }
    
}