.formInput {
    display: grid;
}

input, textarea{
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    resize: none;
    font-size: 16px;
    text-align: stary;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-gray-500);
}

span {
    font-size: 12px;
    margin-top: 6px;
    color: #F83F23;
    display: none;
    text-align: left;
}
label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    text-align: left;
    margin-bottom: 6px;
}
input:valid[focused="true"] {
    border: 1px solid #84CAFF;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}
textarea:valid[focused="true"] {
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

input:invalid[focused="true"] {
    border: 1px solid #F89687;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}
textarea:invalid[focused="true"] {
    border: 1px solid #F89687;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}
input:invalid[focused="true"]~span {
    display: block;
}
textarea:invalid[focused="true"]~span {
    display: block;
}
